# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Configuración local
UserSettings/

# Archivos de sistemas operativos
.DS_Store
Thumbs.db

# Archivos de dependencia
*.csproj
*.sln
*.unityproj

# Archivos de cache
*.pidb
*.booproj
*.userprefs

# Archivos específicos del editor
*.swp
*.psd.meta
